<!DOCTYPE html>
<html>
<head>
    <title>지도-3D</title>
    <link rel="shortcut icon" href="../static/image/favicon.ico"type="image/x-icon">
    <link rel="stylesheet" href="../static/css/map_common.css"/>
	<link rel="stylesheet" href="../static/css/marker_cluster.css"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" href="../static/css/map_common.css"/>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css' type='text/css' />
    <style>
    .mapboxgl-ctrl-bottom-left {
        display: none !important;
    }
    </style>
</head>
<body>
    <div id="map"></div>
    <div class="map-on-top-right-field">
	</div>
    <script src="../static/js/map_3d.js"></script>
</body>
</body>
</html>
