<!DOCTYPE html>
<html>
<head>
    <title>Heat Map 테스트</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" href="../static/css/map_common.css"/>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<body>
	<div id="map"></div>
	<script src="../static/js/wind-js-leaflet.js"></script>
	<script src="../static/js/wind.js"></script>
</body>
</html>
